<app-header></app-header>
<div class="my-contactForm container">

  <h1 class="text-center">Contact Form</h1>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" />
    </div>


    <div class="form-group">
      <label for="email" class="asterisk">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" required />

      <div *ngIf="!email.valid && email.touched" class="alert-danger">

        <div *ngIf="email.errors.required">Email is required</div>
      </div>

    </div>


    <div class="form-group">
      <label for="massage">Massage</label>
      <textarea id="massage" class="form-control" rows="5" formControlName="massage"
        placeholder="write your massage"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="form-control" [disabled]="!contactForm.valid">SEND</button>
    </div>

  </form>
</div>
