<h3 class="text-center">
  <a class="text-danger myPokeapi" href="https://pokeapi.co/" target="_blank">Powered by PokeApi</a>
</h3>

<div class="text-left">
  <div *ngIf="pokemons" class="my-padding">
    <div
      *ngFor="let list of (pokemons.results | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPages} )">
      <a [routerLink]="['/restApi', list.name]">{{ list.name | titlecase }}</a>
    </div>
  </div>
  <div class="pt-2">
    <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="" nextLabel="" responsive="true"
      class="my-pagination">
    </pagination-controls>
  </div>
</div>
