<div class="container text-center">

  <div class="page-title">
    Legal notice
  </div>

  <br>
  <br>


  <p>
    Media owner and responsible for the content:
  </p>

  <p>
    Petar Gutov
  </p>

  <p>
    Senefeldergasse 32/12
  </p>

  <p>
    A-1100 Wien
  </p>

  <p>
    Global Location Number (GLN) – Nummer: 9110027533373
  </p>

  <p>
    Chief Executive Officer:
  </p>

  <p>
    Petar Gutov
  </p>

  <p>
    Supervisory body:
  </p>

  <p>
    Petar Gutov
  </p>

  <p>
    Federal Chancellery RIS information: https://www.ris.bka.gv.at/defaultEn.aspx
  </p>

  <p>All the pictures displaced on the website are excluded from the ownership of Petar Gutov. <br>
    They are subject to copyrights of their authors.</p>

  <p>
    <b>Copyright / Trademark protection</b>
  </p>

  <p>All the content on this website and the website as a whole including all contents that are submitted via e-mail
    are
    subject to copyright protection. Dissemination, duplication or publication of the contents of this website
    (texts,
    pictures, graphs and other content) is not allowed without prior written permission. <br>In case of abuse
    Petar Gutov may start legal proceedings.</p>



</div>
